body {
  background-color: #1d1d1d;
  color: #a7a7a7;
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @font-face {
  src: url(./BebasNeue-Regular.ttf);
  font-family: 'BebasNeue-Regular';    
  font-weight: normal;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  display: flex;
  width: 100%;
}
.album {
  background-position: top right;
  margin-top: -130px;
}
.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
#loading{
  color: rgb(133, 129, 129);
  display: flex;
  font-style: italic;
  font-weight: 100;
  justify-content: center;
  width: 100%;
}
#header {
  background-color: #000000;
  max-width: 271px;
  min-width: 271px;
  height: 100%;
  display: flex;
  left: 0px;
  position: fixed;
  z-index: 3;
  padding: 20px;
  /* padding-top: 100px; */
  justify-content: flex-end;
}
#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
  margin-right: 0px;
  margin-left: -130px;
  margin-top: 230px;
}

#logo {
  display: flex;
  flex-direction: row;
  height: 20%;
  align-items: flex-start;
  justify-content: space-between;
}
.page {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  width: 80%;
  height: 100%;
  position: relative;
  padding-top: 130px;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.card {
  background-color:#181818;
  border-radius: clamp(4px,(var(--column-width,0px) - 32px) * 0.025,8px);
  color: white;
  font-family: 'BebasNeue-Regular'; 
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding-block-end: 4px;
  width: 241.5px;
  height: 319.5px;
  margin:6px;
  padding: 16px;
  position: relative;
}

.pages {
  display: flex;
  justify-content: flex-end;
  width: 1351px;
}

.card img {
 border-radius: 3px;
 box-shadow: 0 8px 24px rgba(0,0,0,.5);
  width: 209.5px;
  margin-bottom: 16px;
  max-height: 209.5px;
  position: relative;

}

.text-card{
  display: flex;
  flex-direction: column;
}
.artist-name {
  color:#a7a7a7;
    margin-top: 4px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 0.8125rem;
    line-height: 1rem;
    font-weight: 400;
    color: #6a6a6a;
}
.card:hover 

{ background-color: #272727;



transition: 0.5s;
/* 
opacity: 0.7; */

}
.card:hover::after {
  visibility: visible
}
.card::after {
  background: url('./bbb.png');
  background-position: 45% 55%;
  background-size: 40px;
  content: '';
  display: block;
  left: 175px;
  position: absolute;
  top: 175px;
  visibility: hidden;
  width: 40px;
  height: 40px;

}



.search {
  background-color: #090909;
  display: flex;
  justify-content: flex-start;
  width: 120%;
  padding-bottom: 25px;
  padding-left: 20px;
  position: fixed;
  padding-top: 25px;
  margin-bottom: 50px;
  margin-top: -130px;
  left: 270px;
  z-index: 100;

}

.album-description {
  align-items: flex-end;
  /* font-family: 'BebasNeue-Regular'; */
  background-color:transparent;
  color: white;
  display: flex;
  width: 100%;
  height: 340px;
  padding: 30px;
  background-image: linear-gradient(to bottom, transparent 0,rgba(0,0,0,.5) 100%);
  margin-top: -20px;

}
.album-description img {
  height: 232px;
  width: 232px;
  box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
  margin-right: 30px;
}
#album-name {
  
  font-size: xxx-large;
  font-weight:lighter;
}
.album {

    background-color: rgb(18, 18, 18);
    background-image: linear-gradient(to top, transparent 0,#3f424d 100%);
    
}
.audio {
  background-color: #F1F3F5;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  position: relative;
  width: 98%;
  height: 60px;
  opacity: 0;
  margin: auto;
  padding-top: 10px;

}
.favorite-button{
  filter: invert(87%) sepia(51%) saturate(8%) hue-rotate(346deg) brightness(104%) contrast(97%);
  margin-left: 490px;
  margin-right: 200px;
  position: absolute;
  opacity: 0;
  margin-bottom: 1px;
  width: 20px;
}
.icon {
  filter: invert(87%) sepia(51%) saturate(8%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
.music:hover  .audio{
  opacity: 0.3;
}
.music:hover  .favorite-button{
  opacity: 1;
}
.music {
  align-items: center;
  background-color:transparent;
  display: flex;
  color:rgb(253, 253, 253);
  justify-content: space-between;
  height: 60px;
  width: 50%;
  margin-top: 2px;
}

.music-title {
  color: #e2e2e2;
  font-family: sans-serif;
  background-color: transparent;
  position: absolute;
  margin-left: 70px;
  opacity: 1;
}

.music:hover{
  color: #ffffff;
}

.musics {
  align-items: flex-start;
  display: flex;
  background-image: linear-gradient(to bottom,transparent 0, #1d1d20cb 200px,#111010 );
  background-color: rgba(22, 22, 22, 0.5);
  flex-wrap: wrap;
 justify-content: space-between;
  width: 100%;
  padding-left: 5px;
  padding-top: 10px;
  min-height: 293px;
}